.header {
    grid-column: center-start / center-end;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6.5rem 0;
  font-size: 1.4rem;

  .navigation {
    ul {
      width: 37rem;
      list-style: none;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
  }
}
